@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:  #040303;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #B3541E;
    --cor-hover: #A13333;
    --cor-link: #ffffff;
    --cor-link-border: #A13333;
    --cor-rodape: #461111;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 2%;
    align-items: flex-end;
}

.cabecalho__menu{
    display: flex;
    gap: 75px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 10% 9%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria)
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria)
}

.apresentacao__conteudo__destaque{
    color: var(--cor-hover);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__foto{
    border-radius: 9%;
}

.apresentacao__links__link{
    background-color: var(--cor-link);
    border: 0.5px solid var(--cor-link-border);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--cor-primaria);
    width: 210px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 20.5 px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__logo{
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
}

.rodape{
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-secundaria);
    background-color: var(--cor-rodape);
    text-align: center;
    
}
